.chat {
  border: 1px solid #c00;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 0;
}
.chat ul {
  margin: 0;
  padding: 0;
  height: 370px;
  overflow: auto;
  border-bottom: 3px solid #300;
}
.chat ul li {
  display: block;
  list-style-type: none;
  border-bottom: 2px solid #600;
  margin: 5px;
  padding: 3px;
}
.chat input {
  border: none;
  padding: 2px;
  margin: 5px;
  width: 95%;
}
