// @import 'nib'

$color = #c00

.chat
  border 1px solid $color
  border-radius 10px
  width 300px
  height 400px
  padding 0
  ul
    margin 0
    padding 0
    height 370px
    overflow auto
    border-bottom 3px solid darken($color, 75%)
    li
      display block
      list-style-type none
      border-bottom 2px solid darken($color, 50%)
      margin 5px
      padding 3px
  input
    border none
    padding 2px
    margin 5px
    width 95%