<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <p>Hello my name is {{name}}</p>

    {{#img-thumb img}}{{/img-thumb}}

    <ul>{{#obj}}<li>{{name}}-{{age}}</li>{{/obj}}<ul>

    <ul>{{#people}}<li>{{name}}</li>{{/people}}<ul>

</body>
</html>
